h1 {
    color: #1c94c4;
}

#tabs-mapa {
    width: 100%;
    height: 500px;
    /*
    background-color: #eee;
    */
}

#tabs-sobre {
    width: 100%;
    height: 500px;
}

#chart-area {
    /*width: 500px;*/
    width: 100%;
    height: 450px;
}

#chicken h2 {
    /*
    */
    color: #1c94c4;
}

.vote_ok {
    color: #347b38;
}
